/target/
**/*.rs.bk
Cargo.lock
*.swp
*.swo
*~
.DS_Store
*.idx
benches/data
.meta
716*
artifact_stage/
corpus.toml
my-corpus/
eltec.toml
eltec/
isosceles.toml
isosceles/
maupassant.toml
maupassant/
poe.toml
single-component/
poe/
*tar.gz
